<div class="container">
    <h1 class="text-primary fs-4 text-center">Liste des employés</h1>

    <button routerLink="add" class="btn btn-outline-info">Nouveau Employé</button>

    <table class="table table-striped">
        <thead class="bg-info col-md-4">
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Salaire</th>
                <th>Experience</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of temployee">
                <td>{{emp.fname}}</td>
                <td>{{emp.lname}}</td>
                <td>{{emp.email}}</td>
                <td>{{emp.salaire}}</td>
                <td *ngIf="emp.experience<=2"><span>JUNIOR</span></td>
                <td *ngIf="emp.experience>2 && emp.experience<=6"><span>SENIOR</span></td>
                <td *ngIf="emp.experience>6"><span>CONFIRMÉ</span></td>

                <td><button class="btn btn-outline-danger" (click)="delete(emp.id)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-outline-success" (click)="edit(emp.id)">
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-center">
    <ul class="nav nav-pills ">
        <li *ngFor="let item of [].constructor(this.totalPages); let i=index">
            <a (click)="getOnePageOfEmployee(i)" class="btn ms-3"
                [ngClass]="i==currentPage ? 'btn-info': 'btn-outline-info'">{{i}}</a>
        </li>
    </ul>
</div>