<div>
    <h3>Lorem, ipsum.</h3>
    <img src="assets/images/annonce.webp" alt="">
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quisquam dolorum earum iure eligendi, ut, nihil cupiditate repudiandae esse quos quia commodi ullam enim corrupti, recusandae quidem omnis tempore dolores.</p>
  </div>
  <div>
    <h3>dolor sit amet.</h3>
    <img src="assets/images/urgent.webp" alt="">
    <p>Pariatur molestiae consequuntur est debitis? Ipsam ut illo nostrum sint deserunt fuga ad laborum magnam autem aut doloribus magni labore libero nobis blanditiis ab rem, tenetur delectus sed iusto excepturi eveniet quisquam. Optio sit voluptatibus laboriosam reiciendis sapiente minima maiores dignissimos natus.</p>
  </div>