<div class="col-md-6 offset-md-3">
    <h3>Mise à jour des données employé</h3>
    <form (ngSubmit)='onSubmit()'>
      <div>
        <label class="form-label">Prénom </label>
        <input type="text" name="fname" class="form-control"
        [(ngModel)]="employee.fname" />
      </div>
      <div>
        <label class="form-label">Nom</label>
        <input type="text" name="lname" class="form-control"
        [(ngModel)]="employee.lname" />
      </div>
      <div>
        <label class="form-label">Email</label>
        <input type="email" name="email" class="form-control" [(ngModel)]="employee.email" />
      </div>
      <div>
        <label class="form-label">Salaire</label>
        <input type="number" name="salary" class="form-control" [(ngModel)]="employee.salaire" />
      </div>
      <div>
        <label class="form-label">Nombre d'années d'expérience</label>
        <input type="number" name="experience" class="form-control" [(ngModel)]="employee.experience" />
      </div>
      <button class="btn btn-outline-success">Mettre à jour</button>
    </form>
  </div>
  
  
